.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  height: 100vh;
  color: white;
}

.experience-title {
  font-size: 2.5em;
  margin-bottom: 30px;
}

.experience-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.technologies-title {
  margin-top: 50px;
  font-size: 2em;
}

.technologies-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}