/* src/styles/Navbar.css */

.navStyles {
  width: 100%;
  display: flex;
  flex-direction: row;
  
  transform: translateX(-100%);
  animation: slideInRight 1s ease-out forwards;
}

@keyframes slideInRight{
  from{
    transform: translateX(-100%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}




.linksNavStyle {
  background-color: #1F0B38;
  padding: 10px;
  margin-top: 5px;
  width: 85%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 30px;
}



.containerStyles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 0px 10vw;
}


.linkStyles {
  font-size: 1.125rem;
  font-weight: bold;
  color: gray;
  text-decoration: none;
  margin-right: 1.5rem;
  transition:  transform 0.5s, color 0.5s;
}

.linkStyles:hover{
  color: white;
  text-decoration:none;
  border-bottom: 2px solid white; /* cria um underline mais grosso */
  transform: scale(1.03);
}



.imgStyles{
    height: 60px;
    width: 60px;
    margin-left: 8vh;
    border-radius: 60px;
}
